@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Navbar section style */
h3 {
    font-size: 28px;
    font-weight: 800;
}

.download-resume {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    /* opacity: 0.8; */
}

nav {
    width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

/* Banner-section-style */
.banner-section {
    width: 1440px;
    height: 652px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-style: dashed;
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    width: 998px;
    height: 582px;
    /* border: 1px solid red; */
}

.web-icon {
    /* margin-top: 26px; */
    margin-bottom: 32px;
}

.banner-title {
    width: 998px;
    height: 136px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 68px;
    font-weight: 800;
    /* border: 1px solid red; */
    text-align: center;
}

.banner-description {
    margin-bottom: 15px;
    /* border: 1px solid red; */
    margin-bottom: 32px;
}

.btn-1 {
    color: white;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
}

/* Web development section style */
.web-section {
    border: 1px solid red;
    margin-bottom: 88px;

}

.web-container {
    width: 1140px;
    height: 1395px;
    border: 2px solid red;
    /* background-color: #0D132105; */
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 88px;
    /* padding: 80px 97px 80px 97px; */
    /* background-color: #0D1321; */

}

.web-heading {
    width: 946px;
    height: 1235px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 80px;
}

.web-heading-1 {
    text-align: center;
}

.why-webdevelopment {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.why-webdevelopment-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.section-1 {
    width: 946px;
    height: 336px;
    border: 2px solid green;
    display: flex;
}

/* Inspiration section style */

.inspiration-section {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiration-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.inspitation-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
}

.inspiration-heading {
    text-align: center;
}

.video-section {
    width: 1140px;
    height: 614px;
    border: 2px solid #0D132133;
    border-radius: 16PX;
    margin-bottom: 151px;
}

.youtube-video {
    padding: 32px;
}

/* Skills section style */

.skills-section {
    width: 1140px;
    height: 460px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.skills-title {
    text-align: center;
}

.skill-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.skill-main-card {
    display: flex;
    padding: 40px;
    gap: 24px;

}

.skill-card {
    width: 364px;
    height: 299px;
    /* border: 2px solid green; */
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-bottom: 110px;
}

.image-positon {
    width: 56px;
    height: 56px;
}

.image-title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.image-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.image-positon {
    margin-bottom: 24px;
}

.skill-position {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Support section style */

.support-section {
    width: 1140px;
    height: 313px;
    border: 2px solid red;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 110px;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.support-position {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-title {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.support-description {
    font-size: 16px;
    font-weight: 400;
}